@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .signature-gradient {
    background: linear-gradient(135deg, #006592 0%, #5dbffe 100%);
  }
}
